accelerate==0.18.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.2
bleach==6.0.0
blessed==1.20.0
cachetools==5.3.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer==3.0.1
click==8.1.3
comm==0.1.3
contourpy==1.0.7
croniter==1.3.8
cvxpy==1.3.1
cycler==0.11.0
datasets==2.10.0
dateutils==0.6.12
debugpy==1.6.7
decorator==5.1.1
deepdiff==6.2.3
defusedxml==0.7.1
dill==0.3.6
dnspython==2.3.0
docker-pycreds==0.4.0
docstring-parser==0.15
ecos==2.0.12
email-validator==1.3.1
entrypoints==0.4
ete3==3.1.2
executing==1.2.0
fastapi==0.88.0
fastjsonschema==2.16.3
ffmpy==0.3.0
filelock==3.9.0
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fschat==0.2.5
fsspec==2023.1.0
func-timeout==4.3.5
future @ file:///home/builder/ci_310/future_1640790123501/work
gitdb==4.0.10
GitPython==3.1.31
gradio==3.23.0
h11==0.14.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.14.1
hydra-core==1.3.2
idna==3.4
importlib-resources==5.12.0
inquirer==3.1.2
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
ipythonblocks==1.9.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonargparse==4.20.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
lark==1.1.5
lightning==1.9.3
lightning-cloud==0.5.30
lightning-utilities==0.7.1
linkify-it-py==2.0.2
markdown-it-py==2.2.0
markdown2==2.4.8
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==2.0.5
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
multiset==3.0.1
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.0
nh3==0.2.11
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.24.2
nvidia-ml-py==11.525.84
nvitop==1.0.0
omegaconf==2.3.0
openai==0.27.4
ordered-set==4.1.0
orjson==3.8.6
osqp==0.6.2.post8
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.2.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.2
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.5
pydub==0.25.1
Pygments==2.14.0
PyJWT==2.6.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-constraint==1.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-json-logger==2.0.7
python-multipart==0.0.5
pytorch-lightning==1.9.3
pytz==2022.7.1
PyYAML @ file:///croot/pyyaml_1670514731622/work
pyzmq==25.0.2
qdldl==0.1.7
readchar==4.0.3
regex==2022.10.31
requests==2.28.2
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.3.1
scikit-learn==1.2.1
scipy==1.10.1
scitools-pyke==1.1.1
scs==3.2.3
semantic-version==2.10.0
Send2Trash==1.8.0
sentencepiece==0.1.97
sentry-sdk==1.22.1
setproctitle==1.3.2
shortuuid==1.0.11
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
stack-data==0.6.2
starlette==0.22.0
starsessions==1.3.0
svgwrite==1.4.3
sympy==1.11.1
tensorboardX==2.6
termcolor==2.2.0
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.2
toolz==0.12.0
torch==1.12.1
torchmetrics==0.11.1
tornado==6.3.1
tqdm==4.64.1
traitlets==5.9.0
transformers==4.28.1
typeshed-client==2.2.0
typing_extensions==4.5.0
uc-micro-py==1.0.2
ujson==5.7.0
uri-template==1.2.0
urllib3==1.26.14
uvicorn==0.20.0
uvloop==0.17.0
wandb==0.15.1
watchfiles==0.18.1
wavedrom==2.0.3.post3
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
xxhash==3.2.0
yarl==1.8.2
